<div style="margin: 0px auto 0px auto; padding: 0px auto 0px auto; text-align: center;">

    <div style="margin-top: 25px;">
        <div
            style="margin-top: 60px; float:left; width:40%; vertical-align: middle; align-items: center; justify-content: center;">
            <h1> Get insights quickly with Tel Hai Wizard</h1>
            <h3>Easily create online forms and surveys and share them, and also analyze the answers in real time.</h3>
        </div>
        <div style="float:right; width:60%; text-align:right;">
            <img width="500px"
                src="assets/images/banner.png">
        </div>
    </div>

    

    <div style="padding: 25px!important; clear:both; overflow: hidden; ">
        <div
            style=" margin-top: 60px; float:right; width:70%; text-align: left;">
            <h1> Creating surveys and answering them anywhere </h1>
            <h3>Entering forms, creating and editing them on the go - on large and small screens. Other people bid for surveys from anywhere and from any mobile device, tablet or computer.</h3>
        </div>
        <div style="float:left; width:30%; text-align:left;">
            <img width="300px"
                src="assets/images/iphone.png">
        </div>
    </div>

    <div style="background-color: black;   width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px); padding-top: 25px; padding-bottom: 25px;">
        <h1>We are available in:</h1>
        <a href="#"><img src="/assets/images/gplay.png"></a>
        <a href="#"><img src="/assets/images/appstore.png"></a>
        <a href="#"><img src="/assets/images/webapp.png"></a>
    </div>





</div>