.empty-message {
  h3 {
    color: rgba(255, 255, 255, 0.6);
  }
}

.link-container {
  display: flex;
  align-items: stretch;
  justify-content: center;

  input {
    color: rgba(255, 255, 255, 0.5)
  }

}
